{{ header }}{{ column_left }}
<div id="content">
    {{ payment_header }}
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ plugin_name }}&nbsp;{{ plugin_version }}
            </div>
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i>{{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
                    {{ basic_config }}
                    {{ three_d_config }}
                    {{ credentials_config }}
                    {{ advanced_config }}
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
{{ live_chat }}
<script type="text/javascript">
    $(document).on('click', '#input-test-credentials', function() {
        var base_url  = $( '#input-base-url' ).val();
        var http_user = $( '#input-http-user' ).val();
        var http_pass = $( '#input-http-password' ).val();

        $.ajax(
            {
                type: 'POST',
                url: 'index.php?route=extension/payment/wirecard_pg_{{ type }}/testConfig&user_token={{ user_token }}',
                data: { 'base_url' : base_url, 'http_user' : http_user, 'http_pass' : http_pass },
                dataType: 'json',
                success: function (json) {
                    alert(json.configMessage);
                }
            }
        );
    });
</script>