{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if wirecard_error %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ wirecard_error }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success_message %}
            <div class="alert alert-success alert-dismissible">
                <i class="fa fa-check-circle"></i>
                {{ success_message }}&nbsp;
                <a href="{{ child_transaction_href }}">{{ child_transaction_id }}</a>
                <button type="button" class="close" data-dismiss="alert">x</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-center" style="width: 100%;">
                    <span class="pull-left"><i class="fa fa-sticky-note"></i> {{ text_transaction }} {% if transaction %}{{ transaction.transaction_id }}{% endif %}</span>
                    <span class="pull-right">{{ plugin_name }}&nbsp;{{ plugin_version }}</span>
                </h3>
            </div>
            <div class="panel-body">
                {% if transaction %}
                    <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <i class="fa {{ transaction.response.basic_info.icon }}"> {{ transaction.response.basic_info.title }}</i>
                                </h3>
                            </div>
                            {{ transaction.response.basic_info.data }}
                        </div>
                    </div>
                    {% if ratepayinvoice_details %}
                        {{ ratepayinvoice_details }}
                    {% else %}
                            {% if transaction.operations %}
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <i class="fa fa-cog"> {{ text_backend_operations }}</i>
                                            </h3>
                                        </div>
                                        <form style="margin: 10px;" action="{{ transaction.action }}" method="post" enctype="multipart/form-data" id="wirecard-operation" class="form-horizontal clearfix">
                                            <input type="hidden" name="payment-method" id="payment-method" value="{{ transaction.payment_method }}">
                                            <label for="amount">{{ text_request_amount }} in {{ transaction.currency }}</label>
                                            <input type="number" name="amount" value="{{ transaction.amount }}" id="amount" class="form-control" step="any" min="0.000001" max="{{ transaction.amount }}">
                                            <input type="hidden" name="currency" value="{{ transaction.currency }}">
                                            {% for key,operation in transaction.operations %}
                                                <button type="submit" form="wirecard-operation" data-toggle="tooltip" style="margin: 10px 0px 0px 10px;" class="btn btn-primary pull-right" name="operation" value="{{ operation.action }}">{{ operation.text }}</button>
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="row">
                        {% for table in transaction.response %}
                            {% if table.type != 'basic_info' and table.data %}
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                <i class="fa {{ table.icon }}"> {{ table.title }}</i>
                                            </h3>
                                        </div>
                                        {{ table.data }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{{ footer }}
{{ live_chat }}