{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ plugin_name }}&nbsp;{{ plugin_version }}
                <a href="{{ support_link }}" style="margin-left: 20px;" class="btn btn-primary">Support</a>
                <a href="{{ general_terms }}" style="margin-left: 20px;" class="btn btn-primary">{{ terms_of_use }}</a>
            </div>
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-puzzle-piece"></i> {{ text_list }}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-left">{{ panel_transaction }}</td>
                                <td class="text-left">{{ panel_order_number }}</td>
                                <td class="text-left">{{ panel_transcation_id }}</td>
                                <td class="text-left">{{ panel_parent_transaction_id }}</td>
                                <td class="text-left">{{ panel_action }}</td>
                                <td class="text-left">{{ panel_payment_method }}</td>
                                <td class="text-left">{{ panel_transaction_state }}</td>
                                <td class="text-left">{{ panel_amount }}</td>
                                <td class="text-left">{{ panel_currency }}</td>
                                <td class="text-right">{{ panel_details }}</td>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.tx_id }}</td>
                                <td>{{ transaction.order_id }}</td>
                                <td>
                                    <a href="{{ transaction.href }}" data-toggle="tooltip">
                                        {{ transaction.transaction_id }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ transaction.parent_transaction_href }}" data-toggle="tooltip">
                                        {{ transaction.parent_transaction_id }}
                                    </a>
                                </td>
                                <td>{{ transaction.action }}</td>
                                <td>{{ transaction.payment_method }}</td>
                                <td>{{ transaction.transaction_state }}</td>
                                <td>{{ transaction.amount | round(2, 'floor') }}</td>
                                <td>{{ transaction.currency }}</td>
                                <td class="text-right">
                                    <div style="min-width: 45px;">
                                        <div class="btn-group">
                                            <a href="{{ transaction.href }}" data-toggle="tooltip" class="btn btn-primary" data-original-title="View">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
{{ live_chat }}