<legend>{{ sepa_mandate }}</legend>
<table border="0" cellpadding="0" cellspacing="0" class="stretch">
<tr>
    <td class="text11justify">
        <table border="0" width="100%">
            <tr>
                <td>
                    {{ creditor_mandate_id }} : {{ mandate_id }}<br />
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="text11justify">
        <table border="0" width="100%" style="margin-top: 20px;">
            <tr>
                <td>
                    <i>{{ creditor }}</i><br />{{ creditor_name }}<br />
                    {{ creditor_id_input }}: {{ creditor_id }}<br />
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table border="0" width="100%" style="margin-top: 20px;">
            <tr>
                <td class="text11">
                    <i>{{ debtor }}</i><br />
                    {{ debtor_acc_owner }}: <span class="first_last_name">{{ consumer_first_name }}&nbsp;{{ consumer_last_name }}</span><br />
                    {{ iban_input }}: <span class="bank_iban">{{ consumer_iban }}</span><br />
                    {% if consumer_bic  %}
                        {{ bic_input }}: <span class="bank_bic">{{ consumer_bic }}</span><br />
                    {% endif %}
                    </td>
                <td width="10%">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="text11justify">
        <table border="0" width="100%" style="margin-top: 20px;">
            <tr>
                <td class="text11justify">
                    {{ sepa_text_1 }} {{ creditor_name }} {{ sepa_text_2 }} {{ creditor_name }} {{ additional_text }}
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
            <tr>
                <td class="text11justify">{{ sepa_text_3 }}</td>
                <td width="10%">&nbsp;</td>
            </tr>
            <tr>
                <td class="text11justify">{{ sepa_text_4 }} {{ creditor_name }} {{ sepa_text_5 }}</td>
                <td width="10%">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="text11justify">
        <table border="0" width="100%" style="margin-top: 20px;">
            <tr>
                <td class="text11justify">
                    {{ creditor_city }}
                    {{ creditor_date }}
                    <span class="first_last_name">{{ consumer_first_name }}&nbsp;{{ consumer_last_name }}</span>
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" style="margin-top: 20px;" onClick="checkSepaMandate($(this))" id="sepa-check">&nbsp;<label for="sepa-check">{{ sepa_text_6 }}</label>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>