<table border="0" cellpadding="0" cellspacing="0" class="stretch">
<tr>
    <td class="text11justify">
        <table border="0" width="100%">
            <tr>
                <td class="text11justify">
                    <i>Creditor</i><br />{{ creditor_name }}<br />' .
                    Creditor ID: {{ creditor_id }}<br />
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td>
        <table border="0" width="100%">
            <tr>
                <td class="text11">
                    <i>Debtor</i><br />' .
                    Account owner: <span class="first_last_name">{{ customer_first_name }}{{ customer_last_name }}</span><br />' .
                    IBAN:<span class="bank_iban">{{ customer_iban }}</span><br />
                    {% if customer_bic  %}
                        BIC:<span class="bank_bic">{{ customer_bic }}</span><br />';
                    {% endif %}
                    </td>
                <td width="10%">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="text11justify">
        <table border="0" width="100%">
            <tr>
                <td class="text11justify">' .
                    I authorize the creditor {{ creditor_name }}
                    to send instructions to my bank to collect one single direct debit from my account. At the same time I instruct my bank to debit my account in accordance with the instructions from the creditor {{ creditor_name }} {{ additional_text }}
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
            <tr>
                <td class="text11justify">' .
                    Note: As part of my rights, I am entitled to a refund under the terms and conditions of my agreement with my bank. A refund must be claimed within 8 weeks starting from the date on which my account was debited.
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
            <tr>
                <td class="text11justify">' .
                    I irrevocably agree that, in the event that the direct debit is not honored, or objection against the direct debit exists, my bank will disclose to the creditor
                    {{ creditor_name }}
                     my full name, address and date of birth.
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td class="text11justify">
        <table border="0" width="100%">
            <tr>
                <td class="text11justify">' .
                    {{ creditor_name }}
                    {{ creditor_date }}
                </td>
                <td width="10%">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="sepa-check">&nbsp;<label for="sepa-check">I have read and accepted the SEPA Direct Debit Mandate information.</label>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;"><button id="sepa-button">Cancel</button></td>
            </tr>
        </table>
    </td>
</tr>
</table>
