<table class="table" class="transaction-details-table">
    <thead>
    <tr>
        <th scope="col">{{ panel_transcation_id }}</th>
        <th scope="col">{{ panel_action }}</th>
        <th scope="col">{{ panel_transaction_state }}</th>
        <th scope="col">{{ panel_transaction_date }}</th>
        {% if provider_account_id %}
            <th scope="col">{{ panel_transaction_provider_id }}</th>
        {% endif %}
        <th scope="col">{{ panel_transaction_details }}</th>
        <th scope="col">{{ panel_transaction_copy }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ transaction_id }}</td>
        <td style="width: 100px;">{{ transaction_type }}</td>
        <td>{{ transaction_state }}</td>
        <td>{{ completion_time_stamp|date }}</td>
        {% if provider_account_id %}
            <td>{{ provider_account_id }}</td>
        {% endif %}
        <td>
            <div style="min-width: 45px;">
                <div class="btn-group">
                    <a target="_blank" href="{{ transaction_link }}" data-toggle="tooltip" class="btn btn-primary" data-original-title="View">
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </div>
        </td>
        <td>
            <div style="min-width: 45px;">
                <div class="btn-group">
                    <button onclick="saveToClipBoard()"data-toggle="tooltip" class="btn btn-primary">
                        <i class="fa fa-copy"></i>
                    </button>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function saveToClipBoard() {
        var textArea = document.createElement("textarea");
        textArea.value = '{{ transaction_xml }}';
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand('copy');
        document.body.removeChild(textArea);

        console.log('done try it');
    }
</script>
