{% if additional_info and session_id %}
        <script type="text/javascript"
                src="https://h.wirecard.com/fp/tags.js?org_id=6xxznhva&session_id={{ session_id }}">
        </script>
        <noscript>
            <iframe style="width: 100px; height: 100px; border: 0; position: absolute; top: -5000px;"
                    src="https://h.wirecard.com/tags?org_id=6xxznhva&session_id={{ session_id }}"></iframe>
        </noscript>
{% endif %}
{% if credit_card %}
    {{ credit_card }}
{% endif %}
{% if sepa %}
    {{ sepa }}
{% endif %}
<form id="wirecard-pg-form" action="{{ action }}" enctype="multipart/form-data" method="post"  class="form form-horizontal">
{% if ideal %}
    {{ ideal }}
{% endif %}
{% if ratepayinvoice %}
    {{ ratepayinvoice }}
{% endif %}

<div class="buttons clearfix">
    <div class="pull-right">

        {% if session_id %}
        <input type="hidden" value="{{ session_id }}" id="input-fingerprint-session" name="fingerprint-session"/>
        {%  endif %}

        {% if credit_card and vault_enabled and customer_logged_in %}
            <input type="hidden" name="token" id="token-field"/>
            <label class="save-credit-card" style="padding-right: 8px; {{ existing_cards|length > 0 ? 'display: none;' : '' }}">
                {{ vault_save_text }}
                <input type="checkbox" name="save_card" />
            </label>
        {% endif %}

        <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
    </div>
</div>
</form>

<script type="text/javascript"><!--
    window.WirecardPaymentMethod = "{{ type }}";
    var disableButton = false;
    var newCardTab = '.tab-new';
    var existingCardTab = '.tab-existing';

    $('#button-confirm').on('click', function() {
        if ((WirecardPaymentMethod === 'creditcard' && jQuery(existingCardTab).hasClass('active'))) {
            var form = $('#wirecard-pg-form');
            form.submit();

            return;
        }

        if (WirecardPaymentMethod === 'creditcard' || WirecardPaymentMethod === 'upi') {
            return;
        }

        var formData = new FormData(document.querySelector('#wirecard-pg-form'));

        $.ajax({
            url: 'index.php?route=extension/payment/wirecard_pg_{{ type }}/confirm',
            type: 'post',
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function() {
                $('#button-confirm').button('loading');
            },
            complete: function() {
                var button = $('#button-confirm');
                button.button('reset');
                button.bind('DOMSubtreeModified', function(){
                    if (disableButton) {
                        button.prop('disabled', true);
                    }
                });
            },
            success: function(json) {
                if (json['response']) {
                    console.log(json['response']);
                }
                if (json['redirect']) {
                    location = json['redirect'];
                }
                if (json['popup']) {
                    var popup = $('#mandate-popup');
                    popup.html(json['popup']).show();
                    $('#payment').hide();
                    disableButton = true;
                    $('#button-confirm').parent().prepend('<a id="sepa-cancel-button" onClick="hideSepaMandate();" class="btn btn-primary">' + json['button_text'] + '</a>');
                }
                if (json['error']) {
                    $('#error-text-sepa', '#payment').html(json['error']).parent().removeClass('hidden');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });

    });
    //--></script>