<h3 class="panel-title"><b>{{ text_advanced }}</b></h3>
{% if type == 'paypal' %}
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-shopping-basket">{{ config_shopping_basket }}</label>
    <div class="col-sm-10">
        <select class="form-control"
                id="input-shopping-basket"
                name="{{ prefix ~ 'shopping_basket' }}">
            {% if shopping_basket == '1' %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
            {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_shopping_basket_desc }}</i>
        </div>
    </div>
</div>
{% endif %}

{% if type == 'sofortbanking' %}
    <input name="{{ prefix ~ 'descriptor' }}" value="1" type="hidden" />
{% else %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="input-descriptor">{{ config_descriptor }}</label>
        <div class="col-sm-10">
            <select name="{{ prefix ~ 'descriptor' }}" id="input-descriptor" class="form-control">
                {% if descriptor %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>

                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 description">
                <i>{{ config_descriptor_desc }}</i>
            </div>
        </div>
    </div>
{% endif %}

<div class="form-group">
    <label class="col-sm-2 control-label" for="input-additional-info">{{ config_additional_info }}</label>
    <div class="col-sm-10">
        <select name="{{ prefix ~ 'additional_info' }}" id="input-additional-info" class="form-control">
            {% if additional_info %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
            {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_additional_info_desc }}</i>
        </div>
    </div>
</div>
{% if type == 'poi' %}
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-delete-cancel-order">{{ config_details_on_invoice }}</label>
    <div class="col-sm-10">
        <select name="{{ prefix ~ 'details_on_invoice' }}" id="input-details-on-invoice" class="form-control">
            {% if details_on_invoice %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
            {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>

            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_details_on_invoice_desc }}</i>
        </div>
    </div>
</div>
{% endif %}
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-delete-cancel-order">{{ config_delete_cancel_order }}</label>
    <div class="col-sm-10">
        <select name="{{ prefix ~ 'delete_cancel_order' }}" id="input-delete-cancel-order" class="form-control">
            {% if delete_cancel_order %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
            {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>

            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_delete_cancel_order_desc }}</i>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-delete-failure-order">{{ config_delete_failure_order }}</label>
    <div class="col-sm-10">
        <select name="{{ prefix ~ 'delete_failure_order' }}" id="input-delete-failure-order" class="form-control">
            {% if delete_failure_order %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
            {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>

            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_delete_failure_order_desc }}</i>
        </div>
    </div>
</div>