<h3 class="panel-title"><b>{{ text_credentials }}</b></h3>
<div class="form-group required">
    <label class="col-sm-2 control-label" for="input-base-url">{{ config_base_url }}</label>
    <div class="col-sm-10">
        <input
                name="{{ prefix ~ 'base_url' }}"
                id="input-base-url"
                class="form-control"
                type="text"
                value="{{ base_url }}">
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_base_url_desc }}</i>
        </div>
    </div>
</div>
<div class="form-group required">
    <label class="col-sm-2 control-label" for="input-http-user">{{ config_http_user }}</label>
    <div>{{ input[prefix ~ 'http_user'] }}</div>
    <div class="col-sm-10">
        <input
                name="{{ prefix ~ 'http_user' }}"
                id="input-http-user"
                class="form-control"
                type="text"
                value="{{ http_user }}">
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_http_user_desc }}</i>
        </div>
    </div>
</div>
<div class="form-group required">
    <label class="col-sm-2 control-label" for="input-http-password">{{ config_http_password }}</label>
    <div class="col-sm-10">
        <input
                name="{{ prefix ~ 'http_password' }}"
                id="input-http-password"
                class="form-control"
                type="text"
                value="{{ http_password }}">
    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 description">
            <i>{{ config_http_password_desc }}</i>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-10">
        <button
                name="test_credentials"
                id="input-test-credentials"
                class="btn"
                type="button"
        >
            {{ test_credentials }}
        </button>
    </div>
</div>
<hr>